{% extends "layout.html.j2" %}

{% block title %}: Error{% endblock %}

{% block body %}
<div class="jumbotron">
  <h1 class="display-3">{{ top }}</h1>
  <p class="lead">
    {{ bottom }}
  </p>
</div>
{% endblock %}
