{% extends "layout.html.j2" %}

{% block title %}{% endblock %}

{% block body %}
<div class="jumbotron">
  <h1 class="display-3">You're in the <span class="logo">MIDS</span>!</h1>
  <p class="lead">
    Start building from here
  </p>
</div>
{% endblock %}
