{% extends "layout.html.j2" %}

{% block title %}: Log In{% endblock %}


{% block main %}
  <form action="/login" method="post">
    <p class="h4">Login:</p>
    <div class="form-group">
      <input type="text" name="username" autocomplete="off" autofocus class="form-control"  placeholder="Username" >
    </div>
    <div class="form-group">
      <input type="password" name="password" class="form-control"  placeholder="Password" >
    </div>
    <button class="btn btn btn-outline-secondary" type="submit">Login</button>
    <a class="btn btn btn-outline-secondary" href="/register">Register <span class="badge badge-pill badge-light">DevFeature</span> </a>
  </form>
{% endblock %}
